# Rust
rust/target/

# C
c/traveling-santa

# Go
go/traveling-santa

# Python
python/.venv/
python/__pycache__/
*.pyc

# Deno
deno/.deno/

# OCaml
ocaml/*.cmi
ocaml/*.cmx
ocaml/*.o
ocaml/traveling-santa
